

h1{

    color:rgb(255,55, 025);
    /* 
    you can do it like this or 
    border-style: dashed;
    border-width: 5px;
    border-color: blue;
     */


     border: 5px solid blueviolet;
    }
    
    
    
    li{
    color: orange;
    }


    h4{

background: rgb(255,100, 80);

    }


    body{

background: orchid;


        /* 
background:url(https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fp.motionelements.com%2Fstock-video%2Fscience-technology%2Fme3608545-robot-holograms-abstract-blue-background-4k-a0005.jpg&f=1);

background-repeat: no-repeat;

background-size: cover; 
 */
    }